* {
    font-family: "Gill Sans", sans-serif;
}

.container,
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: #b6d8ed; */
}

.canvas-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-row {
    display: flex;
    flex-flow: row nowrap;
}
.canvas {
    padding: 25px;
    margin: 20px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 15px 15px 20px #72727227, -15px -15px 20px #6d6d6d21;
    max-width: 100%;
    max-height: 100%;
    flex-direction: column;
}

#chart {
    width: 300px;
    height: 157.5px;
}

input {
    display: none;
}

label {
    z-index: 5;
    background-color: rgb(96, 150, 221);
    border-radius: 10px;
    border: 15px solid rgba(99, 87, 87, 0.3);
    box-shadow: 2.5px 2.5px 5px #00000015, -5px -5px 5px #00000035;
    color: #ffffff;
    padding: 10px;
    margin: 10px;
    width: 130px;
    height: 30px;
    max-height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

label:hover {
    background-color: firebrick;
}

canvas {
    cursor: crosshair;
}

#output {
    text-align: left;
    z-index: 5;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(250, 235, 215, 0.3);
    border: 15px solid rgba(99, 87, 87, 0.3);
    box-shadow: 2.5px 2.5px 5px #00000015, -5px -5px 5px #00000035;
    width: 130px;
    height: 30px;
}
#output * {
    font-size: 13px;
}

#palette {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    padding-top: 7.5px;
}

.palette-box {
    margin: 0 1px;
    padding: 0 5px;
    height: 50px;
    width: 100%;
    border: 2.5px groove rgba(245, 245, 245, 0.3);
    color: white;
    font-weight: lighter;
    letter-spacing: 2px;
    text-shadow: -1px 0 rgb(0, 0, 0, .4), 0 1px rgb(0, 0, 0, .4), 1px 0 rgb(0, 0, 0, .4), 0 -1px rgb(0, 0, 0, .4);
}

#zoom {
    position: fixed;
}