* {
    font-family: "Gill Sans", sans-serif;
    font-size: 16px;
}

html,
body {
    height: 100%;
    margin: 0;
}

html {
    background-image: url("/asset/img/bg.svg");
    background-size: cover;
}


/* style class */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

.box {
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(114, 114, 114, 0.227), -5px -5px 10px rgba(109, 109, 109, 0.227);
    padding: 10px;
    margin: 10px;
}

.canvas {
    background: rgb(255, 255, 255);
    min-height: 275px;
    min-width: 275px;
    /* width: 100%; */
    flex-direction: column;
    transition: all 0.5s;
    justify-content: center;
}


/* style class */

.container,
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 35px;
    width: 70%;
    box-shadow: 21px 21px 48px 15px rgba(255, 255, 255, 0.6), -11px -11px 50px 5px rgba(255, 255, 255, 0.6);
}

.canvas-container {
    align-items: center;
    padding: 5px;
    display: grid;
    grid-template-areas: "image image" "intro intro";
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 10px;
    column-gap: 10px;
    flex-flow: row wrap;
    width: 100%;
}

.canvas label:first-child {
    font-size: 200px;
    margin: -50px 0 -50px 0;
    font-weight: bolder;
    color: rgb(179, 178, 178);
    cursor: pointer;
    user-select: none;
}

#image {
    grid-area: image;
}

#canvas {
    cursor: crosshair;
}

#chart {
    display: none;
}

input {
    display: none;
}

#label {
    width: 150px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    color: rgb(57, 136, 255);
    max-height: 50px;
    font-weight: bold;
}

#label:hover {
    background-color: rgb(57, 136, 255);
    color: rgb(255, 255, 255);
}

#output {
    font-weight: bold;
    text-align: left;
    background-color: rgba(250, 234, 214, 0.3);
    width: 150px;
    height: 50px;
    transition: all 0.5s;
    text-shadow: -1px 0 rgb(57, 136, 255, 0.5), 0 1px rgb(57, 136, 255, 0.5), 1px 0 rgb(57, 136, 255, 0.5), 0 -1px rgb(57, 136, 255, 0.5);
    font-size: 20px;
    color: rgb(57, 136, 255);
}

#hex,
#rgb {
    cursor: pointer;
}

#hex:hover,
#rgb:hover {
    text-shadow: -1px 0 rgb(0, 140, 169), 0 1px rgba(0, 140, 169), 1px 0 rgba(0, 140, 169), 0 -1px rgba(0, 140, 169);
}

#output span {
    cursor: pointer;
}

#palette {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.palette-box {
    margin: 3px 0;
    height: 30px;
    width: 100%;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    text-shadow: -1px 0 rgb(0, 0, 0, .4), 0 1px rgb(0, 0, 0, .4), 1px 0 rgb(0, 0, 0, .4), 0 -1px rgb(0, 0, 0, .4);
    font-size: 8px;
}

#intro {
    grid-area: intro;
    padding: 5px;
    margin: 0 10px;
    color: rgb(0, 0, 0);
    overflow-wrap: break-word;
    justify-content: space-around;
}

#intro li {
    padding: 5px;
    font-size: 12px;
    overflow-wrap: break-word;
}