* {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 16px;
    transition: all 0.5s;
}

html,
body {
    height: 100%;
    margin: 0;
}


/* style class */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

.box {
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(114, 114, 114, 0.227), -5px -5px 10px rgba(109, 109, 109, 0.227);
    padding: 10px;
    margin: 10px;
}

.canvas {
    background: rgb(255, 255, 255, 0.85);
    min-height: 275px;
    min-width: 275px;
    /* width: 100%; */
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

img {
    width: 50px;
    height: 50px;
}


/* style class */

#back-graphic {
    z-index: -100;
    position: absolute;
    width: 100%;
    height: 100%;
}

.graphic1 {
    position: fixed;
    left: 1%;
    top: 45%;
    width: 50%;
    height: auto;
}

.graphic2 {
    position: fixed;
    left: 55%;
    top: 12%;
    width: 30%;
    height: auto;
}

.graphic3 {
    position: fixed;
    left: 65%;
    top: 62%;
    width: 40%;
    height: auto;
}

.graphic4 {
    position: fixed;
    left: 10%;
    top: 2%;
    width: 60%;
    height: auto;
}

.container,
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    /* background-color: rgb(255, 255, 255); */
    margin-top: 50px;
    padding: 35px;
    width: 70%;
    border-radius: 85px;
    /* box-shadow: 2px 2px 8px 15px rgba(255, 255, 255, 0.6), -11px -2px 5px 5px rgba(255, 255, 255, 0.6); */
}

.canvas-container {
    align-items: center;
    padding: 5px;
    display: grid;
    grid-template-areas: "image image" "intro intro";
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 10px;
    column-gap: 10px;
    flex-flow: row wrap;
    width: 100%;
}

.canvas label:first-child {
    font-size: 200px;
    margin: -50px 0 -50px 0;
    font-weight: bolder;
    color: rgb(179, 178, 178);
    cursor: pointer;
    user-select: none;
}

.canvas label:first-child:hover {
    color: rgb(1, 149, 230);
}

#image {
    grid-area: image;
}

#canvas {
    cursor: crosshair;
}

#chart {
    display: none;
}

input {
    display: none;
}

#label {
    width: 150px;
    height: 50px;
    transition: all 0.8s;
    cursor: pointer;
    color: rgb(57, 136, 255);
    max-height: 50px;
    font-weight: bold;
}

#label:hover {
    background-color: rgb(57, 136, 255);
    color: rgb(255, 255, 255);
}

#output {
    font-weight: bold;
    text-align: left;
    background-color: rgba(255, 255, );
    width: 150px;
    height: 50px;
    transition: all 0.5s;
    text-shadow: -1px 0 rgb(57, 136, 255, 0.5), 0 1px rgb(57, 136, 255, 0.5), 1px 0 rgb(57, 136, 255, 0.5), 0 -1px rgb(57, 136, 255, 0.5);
    font-size: 20px;
    color: rgb(57, 136, 255);
}

#hex,
#rgb {
    cursor: pointer;
    font-size: 15px;
}

#hex:hover,
#rgb:hover,
.palette-box p:hover {
    text-shadow: -1px 0 rgb(0, 140, 169), 0 1px rgba(0, 140, 169), 1px 0 rgba(0, 140, 169), 0 -1px rgba(0, 140, 169);
}

#output span {
    cursor: pointer;
}

#palette {
    display: flex;
    flex-flow: row nowrap;
}

.palette-box {
    margin-top: 3px;
    height: 30px;
    width: 100%;
}

.palette-box p {
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    font-size: 8px;
    text-shadow: -1px 0 rgb(0, 0, 0, .4), 0 1px rgb(0, 0, 0, .4), 1px 0 rgb(0, 0, 0, .4), 0 -1px rgb(0, 0, 0, .4);
    cursor: pointer;
}

#intro {
    background-color: rgb(255, 255, 255, 0.8);
    grid-area: intro;
    padding: 5px;
    margin: 0 10px;
    color: rgb(0, 0, 0);
    overflow-wrap: break-word;
    justify-content: space-around;
}

#intro .intro-head {
    margin-left: -15px;
}

#intro li {
    padding: 5px;
    font-size: 12px;
    overflow-wrap: break-word;
}

#intro b {
    font-size: 12px;
}

#media-check {
    display: none;
}

@media screen and (max-device-width: 750px) {
    #media-check {
        display: block;
    }
    body {
        justify-content: flex-start;
    }
    .container {
        margin-top: 20px;
    }
    .canvas-container {
        grid-template-areas: "image image" "chart chart" "intro intro";
        justify-content: center;
    }
    .image-note {
        display: none;
    }
    .palette-box {
        font-size: 6px;
    }
    #output,
    #label {
        font-size: 12px;
        width: 105px;
        height: 25px;
        margin: 5px;
    }
    #intro .flex-column {
        flex-direction: row;
    }
    #intro {
        flex-direction: column;
    }
    #intro ul {
        padding-left: 30px;
        margin: 0;
    }
    #intro li,
    #intro b {
        padding: 2px;
        font-size: 10px;
    }
    #hex,
    #rgb {
        cursor: pointer;
        font-size: 9px;
    }
}